<div class="post-comments">
  <script src="https://giscus.app/client.js"
          data-repo="5odead/5odead.github.io"
          data-repo-id="R_kgDOS7ZEIQ"
          data-category="Announcements"
          data-category-id="DIC_kwDOS7ZEIc4C_Qe6"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="dark"
          data-lang="en"
          crossorigin="anonymous"
          async>
  </script>
</div>
