<section class="ascii-hero" aria-hidden="true">
  <pre class="ascii-art">                                                                                                                                           
                                                       #############################                                                       
                                                 #########################################                                                 
                                            ###################################################                                            
                                       #############################################################                                       
                                    ###################################################################                                    
                                 #################################       #################################                                 
                              #########################                             #########################                              
                            #####################*                                        #####################                            
                         ####################                                                 ####################                         
                       ##################                       *#########                        ##################                       
                     #################                      ##################                       #################                     
                    ###############                      ########################                       ###############                    
                  ###############                      ############################                       ###############                  
                ###############                      ################################                       ###############                
               ##############                       ##################################                        ##############               
              #############                        ####################################                         #############              
            ##############                        ######################################                          #############            
           #############                          ######################################                           #############           
          #############                           #######################################                           #############          
         ############                             #######################################         ############        ############         
        ############            ## ####           ######################################         ##################    ############        
       ############      ################         ######################################      ########################  ############       
      ############   #######################       ####################################      ##########   ############## ############      
      ###########   ########        #########      *###################################      ########             ####### ###########      
     ###########   #######            #########     ##################################    ##########               ######  ###########     
    ############  ######                ########    ##################################     ########                 #####  ############    
    ###########   #####                 ########   ############################# ######     #######                 #####   ###########    
   ###########    ######                 ########  #####     ################     ###### #########                   ####    ###########   
   ###########   #######                 ########  ######       #########        #################                  #####    *##########   
   ##########    #######                  #######  ########     ########################  ########                 ######     ###########  
  ###########    #########                ########* ################################### ##########        ##### ########      ###########  
  ##########     ###########   ###        #########  ################################  #########          #############        ##########  
 ###########       ##############          ##########      #####################  #############              ########          ########### 
 ###########             #####              ############# ###################### ############                                  ########### 
 ###########                                   ################################ ###########        ##################          ########### 
 ###########          ####################         #########  ############### ##########      ##########################       ########### 
 ###########        ############################  #            ############ #####        *################################      ########## 
 ###########       ##############################################  ####  ############ #####################################     ########## 
 ###########      ###################################################  ################################         ###########    ########### 
 ###########      ###########             ###########################  ###########################               ###########   ########### 
 ###########     ##########                   ##################  ###  ##     #################                   ##########   ########### 
 ###########     ########                         #########    ######  ######         #####                       ##########   ########### 
  ##########     ########                                  ########### ####### #                                    ########   ##########  
  ###########    #######                                  ############ ################                            #########  ###########  
  ###########    #########                            ################ ###################                          ########  ###########  
   ##########    ########                         ###################   ####################     ##                  ######   ##########   
   ###########   #######                         ##################        ###################   ###                #######  ###########   
    ###########   #######                 ###   ############                        ###########  ###               #######  *##########    
    ###########    ######               ##### ########                                  ########  #####            ######   ###########    
     ###########   *######            ## ### #######                                      ####### ###### ###     #######   ###########     
     ############   #######      ##  ###### #######                                         #####  ######### ##########   ############     
      ############   #####################  ######                                          ######  ##################   ############      
       ############   ###################  ######                                           ####### #################   ############       
        ############    ################  #######                  ##   ##                  #######* ##############    ############        
         ############     ############   ########                  ###  ##                   #######    ##########    ############         
          ############       ###        #########                 ####  ###                 #########                ############          
           ############                 #########                 ####  ###                ##########               ############           
            #############                #########               ####   ####                ########              #############            
             ##############               #########              ####    ####             #########             ##############             
               #############               ###########        #######    ####    ###### #########              #############               
                ##############               #######################      ######################             ##############                
                 ###############               #####################      *###################             ###############                 
                   ################               #################         ################            ################                   
                     ################               #############              ###########            ################                     
                       #################               #####                                       #################                       
                         ##################                                                     ##################                         
                           #####################                                           *####################                           
                             ########################                                 ########################                             
                                #############################                  ############################                                
                                   #####################################################################                                   
                                      ###############################################################                                      
                                          #######################################################                                          
                                               #############################################                                               
                                                     #################################                                                     
                                                                 #########                                                                 </pre>
  <div class="ascii-fade"></div>
  <div class="scroll-hint">scroll ▾</div>
</section>
